
  <connectionStrings>
    <add name="ProjectDatabase" connectionString="Data Source=terminalapp.database.windows.net;Initial Catalog=ProjectDatabase;Integrated Security=true;User id =cenfotec; Password = Admin123; Pooling=False;Trusted_Connection=False;Encrypt=True;" />
    <!--<add name="ProjectDatabase" connectionString="Data Source=.;Initial Catalog=ProjectDatabase;Integrated Security=true;Pooling=False;"/>-->
  </connectionStrings>
