@using WEBUI.Models.Helpers;
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vRecoverPassword.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/css/stylesLogin1.css" rel="stylesheet" />

<div class="container body-content">
    <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
        <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
        <span id="alert_message"></span>
    </div>
</div>

<div class="container">
    <div class="card col-6 formLogIn">
        <fieldset class="col-xs-10 col-xs-offset-1">

            <div class="card-body">
                <h2>¡Bienvenido a Terminal App!</h2>
                <form id="frmLogin">
                    @Html.CtrlInput(id: "txtEmail", type: "email", label: "Correo Electrónico", columnDataName: "Email")

                </form>
                @Html.CtrlButton(viewName: "vRecoverPassword", id: "btnLogin", label: "Recuperar", onClickFunction: "Recover", buttonType: "primary")
                @Html.ActionLink("Volver al Login", "vLogin", "Home")
            </div>
        </fieldset>

    </div>
</div>